h3 Contacts

table.table.table-striped
  thead
    td First Name
    td Last Name
    td Age
    td Actions
  tbody
    tr(ng-repeat="contact in contacts")
      td {{contact.firstname}}
      td {{contact.lastname}}
      td {{contact.age}}
      td
        a(href="/contacts/{{contact._id}}") Show
        span(style="display:inline-block;width:20px")
        a(href="/contacts/{{contact._id}}/edit") Edit
        span(style="display:inline-block;width:20px")
        a(href="/contacts/{{contact._id}}/delete") Delete

button.btn.btn-success(ng-click="new()") New Contact
